/* styles.css */

* {
	font-family: Arial;
}

.backgroundImage  {
	background-image: url("../img/plastic_bag_PNG4.png");
	width: 800px;
	height: 800px;
	margin: 64px;
}

body.home  {
	background-color: #9BCACA; 
}
