/* styles.css */

* {
	font-family: Kiwi Maru;
}

.backgroundImage  {
	background-image: url("../img/plastic_bag_PNG4.png");
	width: 1300px;
	height: 1400px;
	margin: 30px;
}

h1  {
	margin: 200px;
	text-align: center;
	font-size: 64px;
}

p  {
	margin: 200px;
	font-size: 40px;
}

.p1  {
	margin-left: 400px;
}

img  {
	border-radius: 20px;
	margin-left: 200px;
}

h3  {
	margin: 200px;
	text-align: center;
	font-size: 40px;
}

body.home  {
	background-color: #9BCACA; 
}

body.phase1  {
	background-color: #9BCACA;
}

body.phase2  {
	background-color: #77A7A6; 
}

body.phase3  {
	background-color: #4C7C7B;
}

body.phase4  {
	background-color: #2E5B5A;
	color: #FFFFFF;
}

body.phase5  {
	background-color: #2E5B5A;
	color: #FFFFFF;
}
